@model IEnumerable<MvcGroentenEnFruit.Models.VerkoopOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoeveelheid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoeveelheid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VerkoopOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VerkoopOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VerkoopOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
